.main-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 1fr;
}
.main-layout main {
  padding: var(--lumo-space-m);
}

.main-layout vaadin-side-nav {
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: 1px solid black;
}
.main-layout aside {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}
.main-layout aside iframe {
  width: 100%;
  height: 100%;
  border: none;
}